body {
    width: 100%;

}

header {

    #app-menu {


        .payne-img {
            margin-top: 40px;
        }

        .menu {
            margin-top: 50px;

            ul {
                display: flex;
                gap: 40px;

                li {
                    list-style: none;


                    a {
                        text-decoration: none;
                        color: #222;
                        font-size: 20px;


                    }
                }
            }
        }


        .icons {
            margin-top: 50px;

            ul {
                display: flex;
                gap: 40px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #222;
                        font-size: 20px;
                    }
                }
            }

            .number {
                background-color: #222;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                position: absolute;
                right: 371px;
                top: 51px;


                span {
                    color: white;
                    position: absolute;
                    right: 6px;
                    top: 1px;
                    font-size: 11px;
                }
            }
        }
    }

}


#slider {
    $color_1: #000;
    $font-family_1: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;


    body {
        position: relative;
        height: 100%;
    }

    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: $font-family_1;
        font-size: 14px;
        color: $color_1;
        margin: 0;
        padding: 0;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        img:nth-child(2) {
            position: absolute;
            z-index: 1;
            width: 334px;
            height: 418px;
            right: 415px;
        }


    }


    .amazing-product {
        span {
            position: absolute;
            left: 300px;
            top: 202px;
            font-size: 25px;
            font-family: 'Carlito', sans-serif;
        }
    }


    .slider-name {
        h1 {
            position: absolute;
            left: 293px;
            top: 263px;
            font-family: 'Lilita One', cursive;
            font-size: 100px;
        }
    }


    .slider-desc {
        p {
            position: absolute;
            left: 276px;
            top: 430px;
            font-size: 15px;
        }
    }

}

main {
    #shopify {

        justify-content: space-between;
        width: 100%;
        height: 720px;


        .row {



            .bisco-bag {
                margin-left: 100px;
                margin-top: 192px;

                .shopify-name {
                    span {
                        position: relative;
                        bottom: 397px;
                        font-weight: 700;
                        font-size: 40px;
                        left: 145px;
                    }
                }



                .shopify-desc {
                    span {
                        position: relative;
                        bottom: 485px;
                        left: 166px;
                        font-weight: 400;
                        font-size: 17px;
                    }
                }


            }


            .feedo-bag {
                margin-left: 40px;
                margin-top: 130px;


                .feedo-name {
                    span {
                        writing-mode: vertical-lr;
                        font-weight: 700;
                        font-size: 45px;
                        position: relative;
                        bottom: 278px;
                        left: 75px;
                    }

                }


                .feedo-desc {
                    span {
                        writing-mode: vertical-lr;
                        position: relative;
                        bottom: 524px;
                        left: 47px;
                        font-weight: 400;
                        font-size: 23px;
                    }
                }
            }

        }
    }


    #main-products {
        .product-title {
            width: 100%;
            height: 50px;
            margin-top: 78px;

            p {
                font-size: 35px;
                font-weight: 700
            }

        }


        .product-area {
            width: 100%;
            height: 442px;

            .product-img {
                img {
                    height: 300px;
                    margin-top: 60px;
                }
            }


            .product-name {


                text-align: center;
                margin-top: 5px;
                font-weight: 500;
                font-size: larger;

            }




            .product-price {
                text-align: center;
                font-weight: 500;
                font-size: 19px;
            }




            $color_1: #000;
            $color_2: #fff;



            .maincontainer {
                width: 302px;
                height: 299px;
                margin: 10px;
                float: left;

                >.front {
                    position: absolute;
                    transform: perspective(600px) rotateY(0deg);
                    width: 302px;
                    height: 290px;
                    backface-visibility: hidden;
                    transition: transform .5s linear 0s;
                }

                >.back {
                    position: absolute;
                    transform: perspective(600px) rotateY(180deg);
                    background: white;
                    color: $color_2;
                    width: 302px;
                    height: 290px;
                    border-radius: 10px;
                    padding: 5px;
                    backface-visibility: hidden;
                    transition: transform .5s linear 0s;
                }

                &:hover {
                    >.front {
                        transform: perspective(600px) rotateY(-180deg);
                    }

                    >.back {
                        transform: perspective(600px) rotateY(0deg);
                    }
                }
            }

            img {
                border-radius: 10px;
                height: 300px;
            }

            .back {
                h2 {
                    position: absolute;
                }

                p {
                    position: absolute;
                    top: 50px;
                    font-size: 15px;
                }
            }

            .front {
                h2 {
                    position: absolute;
                    padding: 10px;
                    top: 200px;
                    color: $color_1;
                }
            }


        }

    }


    #discount-products {

        height: 740px;

        .feedo-bag {
            margin-left: 144px;
            margin-top: 130px;




            .feedo-name {
                width: 100%;
                height: auto;

                span {
                    writing-mode: vertical-lr;
                    font-weight: 700;
                    font-size: 45px;
                    position: relative;
                    bottom: 278px;
                    left: 393px;
                }

            }



            .feedo-desc {
                width: 100%;
                height: auto;

                span {
                    writing-mode: vertical-lr;
                    position: relative;
                    bottom: 524px;
                    left: 360px;
                    font-weight: 400;
                    font-size: 23px;
                }
            }


            .discount {
                width: 105px;
                height: 105px;
                background-color: black;
                border-radius: 50%;
                position: relative;
                bottom: 945px;
                left: 80px;

                .number {
                    color: white;
                    position: absolute;
                    left: 24px;
                    top: 8px;
                    font-family: 'Lilita One';
                    font-size: 32px;
                }


                .dis {
                    color: white;
                    position: absolute;
                    left: 24px;
                    top: 42px;
                    font-family: 'Lilita One';
                    font-size: 32px;
                }
            }
        }



        .bisco-bag {
            margin-left: 50px;
            margin-top: 192px;

            .shopify-name {
                span {
                    position: relative;
                    bottom: 397px;
                    font-weight: 700;
                    font-size: 40px;
                    left: 145px;
                }
            }



            .shopify-desc {
                span {
                    position: relative;
                    bottom: 485px;
                    left: 166px;
                    font-weight: 400;
                    font-size: 17px;
                }
            }



            .discount {
                width: 105px;
                height: 105px;
                background-color: black;
                border-radius: 50%;
                position: relative;
                bottom: 401px;
                left: 351px;

                .number {
                    color: white;
                    position: absolute;
                    left: 24px;
                    top: 8px;
                    font-family: 'Lilita One';
                    font-size: 32px;
                }


                .dis {
                    color: white;
                    position: absolute;
                    left: 24px;
                    top: 42px;
                    font-family: 'Lilita One';
                    font-size: 32px;
                }
            }


        }



    }


    #shipment {

        .delivery {
            background-color: #f3f3f3;
            height: 170px;
            width: 100%;
            text-align: center;

            .truck {
                margin-top: 40px;
                font-size: 50px;
            }

            span {

                position: relative;
                top: 10px;
                font-weight: 600;
                font-size: 25px;
            }


            .dollar {
                margin-top: 40px;
                font-size: 50px;
            }


            .support-icon {
                margin-top: 40px;
                font-size: 50px;
            }
        }

    }


}


footer {

    .footer {
        width: 100%;
        height: 400px;
        background-color: rgb(244, 248, 250);
        margin-top: 110px;

        .payne-img {
            margin-top: 85px;
        }


        .info {
            margin-top: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 15px;
        }
    }



    .footer-title {
        margin-top: 85px;
        margin-top: 85px;
        font-size: 21px;
        font-weight: 700;



    }


    ul {
        li {
            list-style: none;
            margin-top: 15px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 15px;


            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    hr{
        color: #c1b8b8;
    }

    .copyright{
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }


    .footer-icon{
        text-align: center;

      
           
            
           
        
     
    }
}